/* --------------------------------------------------------
Style Sheet for Raiz de Arena

version: 0.9
last modified: 3.11.2021 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

:root {
  --color-brand: #D6A269;
  --color-brand-dark: #17202A;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	scroll-behavior: smooth;
}

::selection {
  @apply text-brand bg-brand-dark;
}

::-moz-selection {
  @apply text-blue-800;
}

.link {
  @apply underline underline-offset-2 outline-none transition-all duration-300;
}

.link:hover {
  @apply no-underline bg-brand rounded transition-all duration-500 text-white px-1;
}


/* ==========================================================================
	Navigation
	========================================================================== */

.active-nav {
  @apply font-bold border-b-2 border-brand dark:bg-brand;
}

.mobile-menu .active-nav {
  @apply font-bold bg-brand text-white border-b-0;
}


/* ==========================================================================
	Forms
	========================================================================== */

.button {
  @apply w-max px-6 py-4 rounded-sm text-sm flex items-center justify-center
    hover:cursor-pointer transition-all duration-100;
}

.button-cta {
  @apply text-white bg-brand transition-all;
}

.button-glitch,
.button-glitch:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, var(--color-brand) 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px var(--color-brand-dark);
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-glitch:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'Contact us';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, red 3%, red 5%, var(--color-brand-dark) 5%);
  text-shadow: -3px -3px 0px white, 3px 3px 0px red 10%;
  clip-path: var(--slice-0);
}

.button-glitch:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-glitch,
  .button-glitch:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}


/* ==========================================================================
	Mapbox overrides
	========================================================================== */

div.mapboxgl-popup-content {
  @apply p-2 bg-white/20 backdrop-blur-md;
}

.mapboxgl-popup-content div {
  @apply text-sm px-6 py-8 shadow font-sans bg-white/60 backdrop-blur-md dark:bg-brand-dark/80 dark:text-white;
}

.mapboxgl-popup-content a {
  @apply mt-4 block;
}

.mapboxgl-popup-tip {
  @apply opacity-20;
}

.mapboxgl-popup-close-button {
  @apply text-3xl px-4 py-1 hover:text-brand hover:scale-105 transition-all dark:text-white focus:outline-none;
}
